PROD=False
DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=

CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=

# Used only when PROD=True
DB_NAME=core
DB_USER=core
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
